In [28]:
from lz import *
from metadata import *
from gen_imglst import * 
import lz
import tensorflow as tf

%load_ext autoreload
# %reload_ext autoreload
%autoreload 2
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
# prefix='/mnt/nfs1703/kchen/imagenet-raw'

# leaves = {}
# for node in os.listdir(prefix):
#     if node.startswith('n'):
#         leaves[node] = len(os.listdir(prefix + '/' + node))

# mypickle(leaves,'nimgs.pkl')

In [4]:
# unpickle(leaves,'nimgs.pkl')

In [41]:
path='/home/wangxinglu/prj/few-shot/data/imglst/img10k.test.txt'
al=np.asarray(read_list(path))
fail=np.concatenate(
    [np.asarray(read_list('/home/wangxinglu/corrupt.txt')),
    np.asarray(read_list('/home/wangxinglu/small.txt'))]
)
prefix='/home/wangxinglu/prj/few-shot/data/imagenet-raw/'

al=pd.DataFrame(data=al[:,1],index=al[:,0])
def func(x):
    return '/'.join(x.split('/')[-2:])
fail=np.asarray(pd.DataFrame(data=fail).applymap(func))[:,0]

al.head()
al=al.drop(fail,errors='ignore')

assert fail[0] not in al.index
fail[0]

res=np.asarray(al.to_records().tolist())
write_list(path, res,fmt='%s')

                                0
n00015388/n00015388_10181.JPEG  0
n00015388/n00015388_10238.JPEG  0
n00015388/n00015388_10397.JPEG  0
n00015388/n00015388_10779.JPEG  1
n00015388/n00015388_11286.JPEG  1

'n04055447/n04055447_726.JPEG'

In [42]:
path='/home/wangxinglu/prj/few-shot/data/imglst/img10k.train.txt'
al=np.asarray(read_list(path))
fail=np.concatenate(
    [np.asarray(read_list('/home/wangxinglu/corrupt.txt')),
    np.asarray(read_list('/home/wangxinglu/small.txt'))]
)
prefix='/home/wangxinglu/prj/few-shot/data/imagenet-raw/'

al=pd.DataFrame(data=al[:,1],index=al[:,0])
def func(x):
    return '/'.join(x.split('/')[-2:])
fail=np.asarray(pd.DataFrame(data=fail).applymap(func))[:,0]

al.head()
al=al.drop(fail,errors='ignore')

assert fail[0] not in al.index
fail[0]

res=np.asarray(al.to_records().tolist())
write_list(path, res,fmt='%s')

                                0
n00015388/n00015388_10082.JPEG  0
n00015388/n00015388_10113.JPEG  0
n00015388/n00015388_10201.JPEG  0
n00015388/n00015388_10257.JPEG  0
n00015388/n00015388_10315.JPEG  0

'n04055447/n04055447_726.JPEG'